# Visual Studio Code
.vscode

# Pocketbase
pocketbase/pb_data
pocketbase/pocketbase
pocketbase/CHANGELOG.md
pocketbase/nohup.out

# SvelteKit
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Tests
tests/pocketbase
