:global(body) {
	--color-neutral-50: #ffffff;
	--color-neutral-100: #e3e8e6;
	--color-neutral-200: #a4b0ac;
	--color-neutral-300: #6d7471;
	--color-neutral-400: #4f5452;
	--color-neutral-500: #3b3f3e;
	--color-neutral-600: #2d2f2e;
	--color-neutral-700: #232424;
	--color-neutral-800: #1e1e1e;
	--color-neutral-900: #181818;
	--color-neutral-950: #141414;
	--color-neutral-1000: #0f0f0f;

	--color-green-lightest: #eafff8;
	--color-green-lighter: #c4fdea;
	--color-green-light: #9cf2d5;
	--color-green: #5de9ba;
	--color-green-dark: #32765e;
	--color-green-darker: #17362b;
	--color-green-darkest: #222b28;

	--color-yellow-lightest: #fff9ec;
	--color-yellow-lighter: #fdefce;
	--color-yellow-light: #f4d58b;
	--color-yellow: #eec053;
	--color-yellow-dark: #876922;
	--color-yellow-darker: #413416;
	--color-yellow-darkest: #2f2919;

	--color-red-lightest: #ffecec;
	--color-red-lighter: #fdcece;
	--color-red-light: #f48b8b;
	--color-red: #ee5353;
	--color-red-dark: #8c1d1d;
	--color-red-darker: #411616;
	--color-red-darkest: #2f1919;

	--color-blue-lightest: #edeffd;
	--color-blue-lighter: #d2d6f9;
	--color-blue-light: #7d88ed;
	--color-blue: #4255ff;
	--color-blue-dark: #2d3786;
	--color-blue-darker: #22274f;
	--color-blue-darkest: #1d2036;

	--border-radius-l: 8px;
	--border-radius-m: 4px;
	--border-radius-s: 2px;

	--font-base: 'Mona Sans', sans-serif;
	--font-wide: 'Mona Sans Wide', sans-serif;
	--font-narrow: 'Mona Sans Narrow', sans-serif;
}

@mixin container-outer {
	width: 100%;
	margin-inline: auto;
}

@mixin container-inner {
	width: 100%;
	max-width: 1280px;
	height: max-content;
	box-sizing: border-box;
	margin-inline: auto;
	padding-inline: 64px;

	@media (max-width: 768px) {
		padding-inline: 32px;
	}
}

@mixin headline-xxl {
	font-family: var(--font-wide);
	font-size: 40px;
	line-height: 1.2em;
	letter-spacing: -0.025em;
	font-weight: 800;
	margin: 0;
}

@mixin headline-xl {
	font-family: var(--font-wide);
	font-size: 32px;
	line-height: 1.2em;
	letter-spacing: -0.025em;
	font-weight: 800;
	margin: 0;
}

@mixin headline-l {
	font-family: var(--font-base);
	font-size: 24px;
	line-height: 1.2em;
	letter-spacing: -0.025em;
	font-weight: bold;
	margin: 0;
}

@mixin subtitle-l {
	font-family: var(--font-narrow);
	font-size: 18px;
	line-height: 1em;
	letter-spacing: 0.05em;
	margin: 0;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
}

@mixin subtitle-m {
	font-family: var(--font-narrow);
	font-size: 16px;
	line-height: 1em;
	letter-spacing: 0.05em;
	margin: 0;
	font-style: italic;
	text-transform: uppercase;
}

@mixin paragraph-l {
	font-family: var(--font-base);
	font-size: 20px;
	line-height: 1.5em;
	margin: 0;
}

@mixin paragraph-m {
	font-family: var(--font-base);
	font-size: 16px;
	line-height: 1.4em;
	margin: 0;
}

@mixin paragraph-s {
	font-family: var(--font-base);
	font-size: 14px;
	line-height: 1.4em;
	margin: 0;
}

@mixin paragraph-xs {
	font-family: var(--font-base);
	font-size: 13px;
	line-height: 1.3em;
	margin: 0;
}

@mixin baseButton {
	padding-inline: 12px;
	padding-block: 6px;
	border-radius: var(--border-radius-l);
	background-color: var(--color-neutral-600);

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			background-color: var(--color-blue-dark);
		}
	}

	&--active {
		background-color: var(--color-blue-darker);
		color: var(--color-blue-light);

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				border-color: var(--color-blue);
			}
		}
	}
}

@mixin baseForm {
	width: 100%;
	box-sizing: border-box;
}

@mixin baseInput {
	display: block;
	width: 100%;
	font-size: 14px;
	padding: 16px;
	box-sizing: border-box;
	border: 1px solid var(--color-neutral-500);
	color: var(--color-neutral-100);
	border-radius: var(--border-radius-l);
	background-color: var(--color-neutral-700);

	&:active,
	&:focus {
		outline: 1px solid var(--color-blue);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0); // Removes outline on iOS
	}

	&::placeholder {
		color: var(--color-neutral-400);
	}
}

@mixin disabledInput {
	pointer-events: none;
	color: var(--color-neutral-500);
	border-color: var(--color-neutral-700);
	background-color: var(--color-neutral-700);
	cursor: default;
}
