@font-face {
  font-family: 'Mona Sans';
  src: url('/fonts/Mona-Sans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mona Sans';
  src: url('/fonts/Mona-Sans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mona Sans Narrow';
  src: url('/fonts/Mona-Sans-RegularNarrowItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Mona Sans Narrow';
  src: url('/fonts/Mona-Sans-BlackNarrowItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Mona Sans Wide';
  src: url('/fonts/Mona-Sans-ExtraBoldWide.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

:global(body) {
	--font-base: 'Mona Sans', sans-serif;
	--font-wide: 'Mona Sans Wide', sans-serif;
	--font-narrow: 'Mona Sans Narrow', sans-serif;

	--color-accent: hsl(248, 40%, 40%);
	--color-accent-secondary: hsl(248, 40%, 95%);

	--border-radius-l: 8px;
	--border-radius-m: 4px;
	--border-radius-s: 2px;

	--color-neutral-50: #ffffff;
	--color-neutral-100: #e3e8e6;
	--color-neutral-200: #a4b0ac;
	--color-neutral-300: #6d7471;
	--color-neutral-400: #4f5452;
	--color-neutral-500: #3b3f3e;
	--color-neutral-600: #2d2f2e;
	--color-neutral-700: #232424;
	--color-neutral-800: #1e1e1e;
	--color-neutral-900: #181818;
	--color-neutral-950: #141414;
	--color-neutral-1000: #0f0f0f;

	--color-green-lightest: #eafff8;
	--color-green-lighter: #c4fdea;
	--color-green-light: #9cf2d5;
	--color-green: #5de9ba;
	--color-green-dark: #32765e;
	--color-green-darker: #17362b;
	--color-green-darkest: #222b28;

	--color-yellow-lightest: #fff9ec;
	--color-yellow-lighter: #fdefce;
	--color-yellow-light: #f4d58b;
	--color-yellow: #eec053;
	--color-yellow-dark: #876922;
	--color-yellow-darker: #413416;
	--color-yellow-darkest: #2f2919;

	--color-red-lightest: #FFECEC;
	--color-red-lighter: #FDCECE;
	--color-red-light: #F48B8B;
	--color-red: #EE5353;
	--color-red-dark: #8C1D1D;
	--color-red-darker: #411616;
	--color-red-darkest: #2F1919;
}
