:global(body) {
	--font-sans: 'Inter', sans-serif;
	--font-mono: 'Overpass Mono', monospace;

	--color-accent: hsl(248, 40%, 40%);
	--color-accent-secondary: hsl(248, 40%, 95%);
	--color-positive: hsl(170, 90%, 39%);
	--color-positive-secondary: hsl(170, 90%, 95%);
	--color-negative: hsl(342, 83%, 48%);
	--color-negative-secondary: hsl(342, 83%, 95%);

	--border-radius-l: 8px;
	--border-radius-m: 4px;
	--border-radius-s: 2px;

	--color-neutral-50: #ffffff;
	--color-neutral-100: #e3e8e6;
	--color-neutral-200: #a4b0ac;
	--color-neutral-300: #6d7471;
	--color-neutral-400: #4f5452;
	--color-neutral-500: #3b3f3e;
	--color-neutral-600: #2d2f2e;
	--color-neutral-700: #232424;
	--color-neutral-800: #1e1e1e;
	--color-neutral-900: #181818;
	--color-neutral-950: #141414;
	--color-neutral-1000: #0f0f0f;

	--color-primary-lightest: #eafff8;
	--color-primary-lighter: #c4fdea;
	--color-primary-light: #9cf2d5;
	--color-primary: #5de9ba;
	--color-primary-dark: #32765e;
	--color-primary-darker: #17362b;
	--color-primary-darkest: #222b28;

	--color-secondary-lightest: #fff9ec;
	--color-secondary-lighter: #fdefce;
	--color-secondary-light: #f4d58b;
	--color-secondary: #eec053;
	--color-secondary-dark: #876922;
	--color-secondary-darker: #413416;
	--color-secondary-darkest: #2f2919;
}

@mixin baseForm {
	width: 100%;
	box-sizing: border-box;
}

@mixin baseInput {
	display: block;
	width: 100%;
	font-size: 14px;
	padding: 16px;
	box-sizing: border-box;
	border: 1px solid var(--color-neutral-500);
	font-family: var(--font-mono);
	color: var(--color-neutral-100);
	border-radius: var(--border-radius-l);
	background-color: var(--color-neutral-700);

	&:active,
	&:focus {
		outline: 1px solid var(--color-primary);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0); // Removes outline on iOS
	}

	&::placeholder {
		color: var(--color-neutral-400);
	}
}

@mixin disabledInput {
	pointer-events: none;
	color: var(--color-neutral-500);
	border-color: var(--color-neutral-700);
	background-color: var(--color-neutral-700);
	cursor: default;
}
